html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

span {
  width: 20px;
  display: inline-block;
  font-size: 20px;
}

.lineaPalabra {
  display: flex;
}
// #lienzo {
//   position: absolute;
//   top: 3px;
//   left: 0;
// }

.contenedorPalabra {
  position: relative;
  height: 100px;
}

.lienzoOriginal {
  margin-top: 50px;
}

.lineaLetras,
.onda {
  position: absolute;
  left: 0;
  top: 0;
}
